mixin deals(deals)
  for deal in deals
    tr
      td
        a(href=deal.url, target='_blank')= deal.title
      td= deal.description
      td= deal.etaJa

doctype html
html
  head
    title NES Deals
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  body
    .container
      .page-header(style='border-bottom: none;')
        h1 NES Deals&nbsp
          small ニンテンドーeショップのセール情報

      table.table
        tr
          th タイトル
          th 値引き情報
          th 終了日時
        +deals(deals)

      .panel.panel-default
        .panel-heading
          h3.panel-title 使い方
        .panel-body Content-Typeに応じた内容が表示されます。ブラウザやフィードリーダーからアクセスしてください。

      .page-footer(style='text-align: center;')
        p 作った人:&nbsp
          a(href='https://twitter.com/ebith') @ebith
